// color
$main-color: #e6bd08;
$text-color: rgb(49, 49, 49);
$text-color-inner: #fff;
$text-color-gray: rgb(110, 110, 110);
$text-color-highlight: #f7760c;
$text-white : #fff;
$background-color-dark: #0C3539;
$background-color-footer: $background-color-dark;
$background-gray: #dfdbd4;
$background-color-press: #57C5A0;
$hightlight-hot-color: #f7760c;
$higtlight-color: #059ba8;
$higtlight-color-orange: $text-color-highlight;
$hightlight-hover: rgba(64, 224, 208, 0.2);
// dimension
$height-header: 45px;
$height-nav: 60px;
